{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 80,
  "quoteProps": "as-needed",
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "tabWidth": 2,
  "tailwindStylesheet": "./src/styles/global.css",
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "clsx"
  ]
}