---
import { Hero } from "~/components/sections/hero"
import { About } from "~/components/sections/about"
import { Feature } from "~/components/sections/feature"
import { WhyUs } from "~/components/sections/why-us"
import { FAQ } from "~/components/sections/faqs"
import { Contact } from "~/components/sections/contact"
---

<div class="flex w-full flex-col">
  <Hero client:load />
  <Feature />
  <WhyUs />
  <FAQ client:idle />
  <Contact client:load />
</div>
