---
import { Hero } from "~/components/sections/hero"
import { About } from "~/components/sections/about"
import { Contact } from "~/components/sections/contact"
import { Feature } from "~/components/sections/feature"
import { WhyUs } from "~/components/sections/why-us"
import { Footer } from "~/components/layouts/footer"
import { FAQ } from "~/components/sections/faqs"
---

<div lang="en" class="mt-24">
  <Hero />
  <Feature />
  <Contact />
  <WhyUs />
  <FAQ />
</div>
